/company_name_f.csv
/file_name.html
/hannanum.html
/IDAp.ipynb
/interviews_index.csv
/interviews_index1.csv
/interviews_no_index.csv
/interviews_no_index1.csv
/interview_index_기업2개.csv
/INTERVIEW_no_index.xlsx
/job_reivew5.csv
/job_reivews_i_5.csv
/JPype1-1.1.2-cp39-cp39-win_amd64.whl
/kkma.html
/komoran.html
/lda.ipynb
/LDAPcopy.ipynb
/links_f.csv
/mecab-0.996-ko-0.9.2
/mecab-0.996-ko-0.9.2.tar.gz
/mecab.html
/mecab_7.html
/number_f.csv
/okt.html
/review_extract.ipynb
/test.xlsx
/tokenized_data_
/tokenized_data_hannanum.csv
/tokenized_data_kkma.csv
/tokenized_data_komoran.csv
/tokenized_data_mecab.csv
/tokenized_data_okt.csv
/tokenized_data_개발
/tokenized_data_고객지원
/tokenized_data_금융
/tokenized_data_기타.csv
/tokenized_data_기획
/tokenized_data_데이터
/tokenized_data_디자인
/tokenized_data_마케팅
/tokenized_data_미디어
/tokenized_data_생산
/tokenized_data_생산관리
/tokenized_data_영업
/tokenized_data_인사
/개발.html
/고객지원.html
/국민면접노인.csv
/금융.html
/기타
/기타.html
/기획.html
/데이터.html
/디자인.html
/마케팅.html
/미디어.html
/불용어제거.html
/생산.html
/생산관리.html
/영업.html
/영업2.html
/인사.html